@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Montserrat', sans-serif;

}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: -webkit-linear-gradient(bottom, #ff0c85e6, #ff8bc3);
  overflow: hidden;
}

::selection {
  color: #fff;
  background: #d43f8d;
}

.container {
  width: 680px;
  background: rgb(254, 230, 248);
  text-align: center;
  border-radius: 5px;
  padding: 50px 35px 10px 35px;
  padding-top: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.container header {
  font-size: 30px;
  font-weight: 600;
  margin-top: 15px;

}

.container .form-outer {
  width: 100%;
  overflow: hidden;

}

.container .form-outer form {
  display: flex;
  width: 400%;
}

.form-outer form .page {
  width: 25%;
  transition: margin-left 0.3s ease-in-out;
  height: 360px;
}

.form-outer form .page .title {
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  color:  #d33f8d;
}

.form-outer form .page .field {
  width: 330px;
  height: 45px;
  margin: 45px 0;
  display: flex;
  position: relative;
}

form .page .field .label {
  position: absolute;
  top: -30px;
  font-weight: 500;
}

form .page .field input {
  height: 100%;
  width: 90%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 18px;
}

form .page .field select {
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  font-weight: 500;
}

form .page .field button {
  width: 40%;
  height: calc(100%);
  border: none;
  background: #d33f8d;
  margin: 0 auto;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.5s ease;
}

form .page .field button:hover {
  border: 2px solid #FB5A99;
  color: #FB5A99;
  background: none;
}

.container .progress-bar {
  display: flex;
  user-select: none;
  width: 38%;
  margin: 25px auto;
}

.container .progress-bar .step {
  text-align: center;
  width: 100%;
  position: relative;
}

.container .progress-bar .step p {
  font-weight: 600;
  font-size: 18px;
  color: #000;
  margin-bottom: 8px;
}

.progress-bar .step .bullet {
  height: 25px;
  width: 25px;
  border: 2px solid #000;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  transition: 0.2s;
  font-weight: 700;
  font-size: 17px;
  line-height: 25px;
}

.progress-bar .step .bullet.active {
  border-color: #d43f8d;
  background: #d43f8d;
}

.progress-bar .step .bullet span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.progress-bar .step .bullet.active span {
  display: none;
}

.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after {
  position: absolute;
  content: '';
  bottom: 11px;
  right: -51px;
  height: 3px;
  width: 44px;
  background: #262626;
}

.progress-bar .step .bullet.active:after {
  background: #d43f8d;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 0.3s linear forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after {
  display: none;
}

.progress-bar .step p.active {
  color: #d43f8d;
  transition: 0.2s linear;
}

.progress-bar .step .check {
  position: absolute;
  left: 50%;
  top: 70%;
  font-size: 15px;
  transform: translate(-50%, -50%);
  display: none;
}

.progress-bar .step .check.active {
  display: block;
  color: #fff;
}

form .page .field input::placeholder{
  font-size: 16px;
  color: rgb(255, 220, 246);
}

.logo {
  width: 105px;
  margin: 0;
  position: absolute;
  /*padding-left: 85px;*/
  top: 0;
  left: 83.5px;
}

.column {
  box-sizing: border-box;
  float: left;
  width: 50%;
  padding: 10px;

}

.column2 {
  box-sizing: border-box;
  float: left;
  width: 50%;
  padding: 10px;

}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .column2 {
    width: 100%;
  }
}


/* Diagnosis banner */
.diagnosisBanner {
  background-image: url('/static/images/bannerBe.png');
  height: 90vh;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
}

.diagnosisBanner2 {
  background-image: url('/static/images/bannerMa.png');
  height: 90vh;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
}

.fullPrediction {
  width: 50%;
  margin-right: 36%;
  margin-top: 9%;
  font-family: 'Montserrat', sans-serif;
}

.textPrediction {
  color: #FF87B0;
  font-size: 55px;
  width: 85%;
  line-height: 135%;
}

.plotPrediction img {
  width: 65%;
  margin-top: 40px;


}

/* Options css */
.container2 {
  width: 880px;
  /*background: rgb(254, 230, 248);*/
  background: none;
  text-align: center;
  border-radius: 5px;
  padding: 50px 35px 10px 35px;
  padding-top: 0px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.fa-user-plus:before {
  font-size: 85px;
}

.fa-user-plus {
  margin-bottom: 20px;
}

.fa-folder-open:before {
  font-size: 85px;
}

.fa-folder-open {
  margin-bottom: 20px;
}

.container2 a {
  width: 90%;
  display: inline-block;
  background: rgb(254, 230, 248);
  color: #FB5A99;
  font-size: 25px;
  padding: 90px 0px;
  font-weight: 500;
  border-radius: 6px;
  border: 2px solid rgb(254, 230, 248);
  transition: all 0.3s ease;
  text-decoration: none;
}

.container2 a:hover {
  color: #fff;
  bottom: 30px;
  background: none;
  border: 3px solid #fff;
}

h2 {
  font-size: 32px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin-bottom: 40px;
}

h3 {
  font-size: 32px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
}

.row {
  border-collapse: collapse;
  position: fixed; 
  top: 40px; 
  margin: auto;
  
}

.patients-table {
  overflow-y: scroll;
  height: 520px;
}

.row table {
  background: rgb(254, 230, 248);
 ;
}
.row td, .row th {
  padding: 8px;
  font-size: 14px;
}

.row tr:nth-child(even){background-color: #f2f2f2;}

.row tr:hover {background-color: #ddd;}

.row th {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  background-color: #8c006b;
  color: white;
}
